.tr--h2 {
  text-align: center;
  font-size: 30px;
  margin: 0 0 50px;
}
.tr--img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
.tr--color-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.tr--color-indicator p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tr--color-indicator p:first-child::before,
.tr--color-indicator p:last-child::before{
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #df5656;
  border-radius: 5px;
}
.tr--color-indicator p:last-child::before {
  background-color: #188521;
}
.tr--blocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.tr--text-block {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 40px auto 10px;
}
.tr__blocks {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: #df5656;
  cursor: pointer;
}
.tr__blocks.active { 
  background-color: #188521;
}